.navbar_ .nav-collapse_ {
    overflow: visible;
  }
  body {
  	min-width: 950px;
  }
 #panel .nav-collapse.collapse {
 	overflow: visible;
  }
  #advanced span.trigger strong{filter:alpha(opacity=0);}
#advanced.closed span.trigger strong{filter:alpha(opacity=100);}

#advanced .dropdown-menu li li a {
  display: inline-block;
}

h1.brand a img {width:inherit;}

a.btn {border:#cecdcd 1px solid; }


